DIRECT_URL="YOUR_SUPABASE_URI_HERE"
DATABASE_URL="YOUR_SUPABASE_URI_HERE"

CLERK_SECRET_KEY=<your_secret_key>
ADMIN_CLERK_USER_IDS=<comma_separated_clerk_user_ids>
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<your_publishable_key>

NEXT_PUBLIC_CLERK_SIGN_IN_URL=YOUR_SIGN_IN_URL
NEXT_PUBLIC_CLERK_SIGN_UP_URL=YOUR_SIGN_UP_URL
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=YOUR_REDIRECT_URL
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=YOUR_REDIRECT_URL
