DIRECT_URL="YOUR_SUPABASE_URI_HERE"
DATABASE_URL="YOUR_SUPABASE_URI_HERE"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<your_publishable_key>
CLERK_SECRET_KEY=<your_secret_key>

NEXT_PUBLIC_CLERK_SIGN_IN_URL=YOUR_SIGN_IN_URL
NEXT_PUBLIC_CLERK_SIGN_UP_URL=YOUR_SIGN_UP_URL
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=YOUR_REDIRECT_URL
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=YOUR_REDIRECT_URL